body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: lightcyan;
    font-family: cursive;
    
}

.container{
    width: 300px;
}

.counter{
    font-size: 40px;
}

.loading-bar-back{
    position: absolute;
    height: 8px;
    background-color: lightgray;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.loading-bar-front{
    position: absolute;
    height: 8px;
    background-color: orangered;
    width: 0%;
    border-radius: 5px;
    border: none;
}